.main-container {
  display: grid;
  min-height: 100vh;
  place-items: center;
  padding: 10px 16px;
  background-image: url("background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.form-container {
  display: grid;
  place-items: center;
  position: relative;
  width: 500px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #4b0a7c 50%,
    #2b86c5 100%
  );
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 15px;
  gap: 20px;
  padding: 20px;
}
.form-container input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  padding: 16px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.submit_btn {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  border-radius: 10px;
  border: none;
}
.logout_btn {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);

  border-radius: 10px;
  border: none;
}
.update_btn {
  width: 30%;
  height: 56px;
  padding: 0 16px;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);

  border-radius: 10px;
  border: none;
}
.sub_log_div {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.display_items {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 10px 10px;
  width: 350px;
  height: 80px;
  justify-content: space-between;
  background-color: #fad961;
  background-image: linear-gradient(225deg, #fad961 0%, #f76b1c 100%);
  opacity: 0.9;
  border-radius: 10px;
}
.rem_edit_btn {
  display: flex;
  float: right;
  flex-direction: row;
  padding: 0 16px;
  gap: 10px;
  /* position: relative; */
}
.remove_btn,
.edit_btn {
  width: 75px;
  height: 56px;
  padding: 0 16px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #4b0a7c 80%,
    #2b86c5 100%
  );
  border-radius: 10px;
  border: none;
}
.display_outer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
